.events {
    background-color: cornflowerblue;
    width: 100%;
    min-height: 5rem;
    &__dropdownContainer{

    }
    &__dropdownButton{

    }
    &__dropdownContent{
        display: flex;
        flex-direction: column;
        background-color: black;
        height: 100%
    }
}