.hero {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    &__image {
        max-width: 100%;
        height: auto;
    }
}