@use '../../partials/variables' as *;

.hero {
    width: 100%;
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    &__header {
        max-width: 100%;
        height: auto;
        margin-bottom: 2rem;
    }
    &__container {
        max-width: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__btmContainer {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    &__descContainer {
        padding: 0 1rem 0 2rem;
    }
    &__description {
        font-size: 1.1rem;
    }
    &__image {
        max-width: 100%;
        height: auto;
        margin: 0 1rem 1rem 0;
    }
}